.bookmark {
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
    padding: 8vh 5vw;
    position: relative;
    z-index: 0;
}

@media (max-width: 991px) {
    .bookmark {

    }
}
.bookmark--menu {
    background-image: url(/bookmarks/menu.jpg);
}
.bookmark--Galeria {
    background-image: url(/bookmarks/gallery.jpg);
}
.bookmark--Kontakt {
    background-image: url(/bookmarks/contact.jpg);
}
.bookmark--Jak_dojechać {
    background-image: url(/bookmarks/route.jpg);
}

.bookmark::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}



.bookmark_header {
    font-size: 120px;
    text-transform: uppercase;
    margin: 0;
}
.bookmark_header::after,
.bookmark_header::before {
    content: " - ";
    font-weight: normal;
}


@media (max-width: 1199px) {
    .bookmark_header {
        font-size: 10vw;

    }
}

.bookmark_description {
    font-size: 24px;
}

@media (max-width: 767px) {
    .bookmark_description {
        font-size: 16px;
    }
}